/* Main Styling */

#column-maker{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image:
  linear-gradient(90deg, rgba(252,133,242,0.5242471988795518) 33%, rgba(42,226,241,0.4738270308123249) 100%),
    url('https://cdn5.vectorstock.com/i/1000x1000/60/04/tile-pastel-hearts-on-white-background-pattern-vector-10526004.jpg');
background-size: cover;
height: 100vh;
}

/* Love Styling  */

input {
  border-radius: 20px;
  box-shadow: 0px 0px 19px 0px #9B038B;
  margin: 10px;
  height: 50px;
  width: 300px;
}

.name-contain{
  position: fixed;
  left: 0;
  top: 20%;
}

.submit {
  background: #fcdbf5;
  background-image: -webkit-linear-gradient(top, #fcdbf5, #a9ddf5);
  background-image: -moz-linear-gradient(top, #fcdbf5, #a9ddf5);
  background-image: -ms-linear-gradient(top, #fcdbf5, #a9ddf5);
  background-image: -o-linear-gradient(top, #fcdbf5, #a9ddf5);
  background-image: linear-gradient(to bottom, #fcdbf5, #a9ddf5);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #85003c;
  -webkit-box-shadow: 0px 0px 9px #a10577;
  -moz-box-shadow: 0px 0px 9px #a10577;
  box-shadow: 0px 0px 9px #a10577;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.submit:hover {
  background: #ff52ff;
  background-image: -webkit-linear-gradient(top, #ff52ff, #5ad1f5);
  background-image: -moz-linear-gradient(top, #ff52ff, #5ad1f5);
  background-image: -ms-linear-gradient(top, #ff52ff, #5ad1f5);
  background-image: -o-linear-gradient(top, #ff52ff, #5ad1f5);
  background-image: linear-gradient(to bottom, #ff52ff, #5ad1f5);
  text-decoration: none;
}




/* Heart Styling */
.heart {
  /* position: absolute; */
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f9b3b3;
  height: 175px;
  width: 175px;
  transform: rotate(-45deg);
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #fcd9d9;
  }
  50% {
    background-color: #f9b3b3;
  }
  100% {
    background-color: #fcd9d9;
  }
}

.heart::after {
  background-color: #f9b3b3;
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 175px;
  height: 175px;
  top: 0px;
  left: 87.5px;
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.heart::before {
  content: '';
  background-color: #f9b3b3;
  border-radius: 50%;
  position: absolute;
  width: 175px;
  height: 175px;
  top: -87.5px;
  left: 0px;
  animation-name: color;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.heart:hover {
  transform: scale(0.9);
}

img {
  width: 45%;
  vertical-align: middle;
}

footer#footer {
  text-align: center;
  font-size: 0.6em;
  text-transform: uppercase;
  padding: 10px;
  color: grey;
  letter-spacing: 2px;
  font-family: sans-serif;
  position: relative;
  top: 165px;
  left: -27px;
  width: 250px;
}


